# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Ignore the virtual environment
venv/
env/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore secrets and environment files
.env